.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner-image {
    width: 100%;
  }
}